@use "../../../app/styles/breakpoints" as breakpoints;

.menu {
  background-color: var(--color-light);


  &-container {
    max-width: 1000px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem 2rem;
    
  }
}