<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label i18n="Age verification form|Date input title">Day</mat-label>
    <input
      type="number"
      matNativeControl
      min="1"
      max="31"
      appAutofocus
      formControlName="birthDay"
    />
    <mat-hint i18n="Age verification form|Date format hint"
      >Format expected DD</mat-hint
    >
    @if (
      form.controls.birthDay.hasError("min") ||
      form.controls.birthDay.hasError("max")
    ) {
      <mat-error i18n="Age verification form|Date input error"
        >Please enter a valid day</mat-error
      >
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n="Age verification form|Date input title">Month</mat-label>
    <input
      type="number"
      matInput
      min="1"
      max="12"
      matNativeControl
      formControlName="birthMonth"
    />
    <mat-hint i18n="Age verification form|Date format hint"
      >Format expected MM</mat-hint
    >
    @if (
      form.controls.birthMonth.hasError("min") ||
      form.controls.birthMonth.hasError("max")
    ) {
      <mat-error i18n="Age verification form|Date input error"
        >Please enter a valid month</mat-error
      >
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n="Age verification form|Date input title">Year</mat-label>
    <input
      type="number"
      matInput
      min="1900"
      max="2100"
      matNativeControl
      formControlName="birthYear"
    />
    <mat-hint i18n="Age verification form|Date format hint"
      >Format expected YYYY</mat-hint
    >
    @if (
      form.controls.birthYear.hasError("min") ||
      form.controls.birthYear.hasError("max")
    ) {
      <mat-error i18n="Age verification form|Date input error"
        >Please enter a valid year</mat-error
      >
    }
  </mat-form-field>
  <p>
    <app-button
      type="submit"
      [disabled]="!form.valid"
      i18n="Age verification form|Reset button for counter"
    >
      Click to reset counter
    </app-button>
    @if (form.hasError("minimumAge")) {
      <mat-error i18n="Age verification form|Date input error"
        >You must be over {{ minimumAge }} to reset the counter.</mat-error
      >
    }
  </p>
</form>
